<!DOCTYPE html>
<html>
<head>
    <title>Task Management</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Task Management</h1>
    <div class="container">
        <ul>
            {% for task in tasks %}
            <li>
                <div class="task-text">{{ task.task }}</div>
                <form class="delete-form" action="/delete/{{ task.id }}" method="POST">
                    <button class="delete-button" type="submit">Delete</button>
                </form>
            </li>
            {% endfor %}
        </ul>
        <form class="add-form" action="/add" method="POST">
            <input class="add-input" type="text" name="task" placeholder="Enter a new task" required>
            <button class="add-button" type="submit">Add Task</button>
        </form>
    </div>
</body>
</html>
